body{
    background-color: var(--primary-color);
}

:root{
    --primary-color: #d5f3f7;
    --secondary-color: #ebeded;
    --tertiary-color: #0a0a0a;
    --quaternary-color: #1093c7;
}

.nav-1{
    background-color: var(--secondary-color);
    border: solid 5px var(--tertiary-color);
    border-radius: 25px;
}

a{
    color: var(--tertiary-color);
}

nav ul li a{
    text-decoration: none;
}

a:hover{
    color: var(--quaternary-color);
}

.header{
    text-align: center;
}

p{
    text-align: center;
}

.content{
    border: solid 5px var(--tertiary-color);
    border-radius: 25px;
    background-color: var(--secondary-color);
}

#contact-info, #network, #skills-header, #html-project, #html-and-css, #css-layouts{
    border: solid 5px var(--tertiary-color);
    border-radius: 25px;
}

#skills-list{
    text-align: center;
}

.content-2{
    border: solid 5px var(--tertiary-color);
    border-radius: 25px;
    background-color: var(--secondary-color);
}

h2, h3{
    text-align: center;
}

.form{
    text-align: center;
}

input[type="submit"]:active{
    background-color: var(--quaternary-color);
}

input[type="text"]:focus{
    border: solid 5px var(--quaternary-color);
}
